@font-face {
    font-family: Moskino;
    src: url('./../../src/Fonts/Alexander.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body {
    overflow-x: hidden;
    background: rgb(255, 255, 255);
}




